<!DOCTYPE html>
<html>
<head>
    <title>{{ user.first_name }} {{ user.last_name }}</title>
</head>
<body>
    <h1>Користувач: {{ user.first_name }} {{ user.last_name }}</h1>
    <p><strong>Опис:</strong> {{ user.description }}</p>

    <hr> <h2>Фільм: {{ media.title }}</h2>
    <p><strong>Сюжет:</strong> {{ media.description }}</p>
    <p><strong>Рейтинг:</strong> {{ media.rating }}/10</p>
    <p><strong>Студія:</strong> {{ media.studio_name }}</p>

    <hr>
    
    <a href="{% url 'about' %}">Про нас</a>
</body>
</html>